.product {
    display: flex;
    text-align: start;
    border-bottom: 1px solid lightslategray;
    margin-bottom: 5px;
    padding-bottom: 15px;
    margin-right: 10px;
    margin-top: 15px;
}
.product h4 {
    color: blue;
    font-weight: 400;
}
.product .info {
    padding-left: 10px;
}
.cardBtn{
    background-color: goldenrod;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
}
.cardBtn:hover{
    background-color: gold;
}